doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://kit.fontawesome.com/befaf840d0.js")
    link(rel="stylesheet", href="css/main.min.css")
    title Shopify
  body
    include sections/header
    include sections/main
    include sections/products