section
  .container
    .featured__item-header
      h2.item__header-title <span>best </span>sales
      p.item__header-text Lorem Ipsum is simply dummy text of the printing and typesetting industry
    .featured__item
      .item__gallery-img
        img(src="images/featured/featured-img-1.png", alt="featured-image-1")
        .gallery__img-description
          h4.img__description-title Reebok Track Jacket
          .img__description-specs
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            p.img__description-price 100$
        .hover__gallery-img-item
          img(src="images/featured/featured-img-1.png", alt="featured-image-2")
          .gallery__img-description
            h4.img__description-title Reebok Track Jacket
            button
              i.fas.fa-shopping-basket
              p.img__description-cart add to cart
      .item__gallery-img
        img(src="images/featured/featured-img-1.png", alt="featured-image-1")
        .gallery__img-description
          h4.img__description-title Reebok Track Jacket
          .img__description-specs
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            p.img__description-price 100$
        .hover__gallery-img-item
          img(src="images/featured/featured-img-1.png", alt="featured-image-2")
          .gallery__img-description
            h4.img__description-title Reebok Track Jacket
            button
              i.fas.fa-shopping-basket
              p.img__description-cart add to cart
      .item__gallery-img
        img(src="images/featured/featured-img-1.png", alt="featured-image-1")
        .gallery__img-description
          h4.img__description-title Reebok Track Jacket
          .img__description-specs
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            p.img__description-price 100$
        .hover__gallery-img-item
          img(src="images/featured/featured-img-1.png", alt="featured-image-2")
          .gallery__img-description
            h4.img__description-title Reebok Track Jacket
            button
              i.fas.fa-shopping-basket
              p.img__description-cart add to cart
    .featured__item.subscription
      .featured__item-header
        .item__header-title news letter
        .item__header-text join us now to get all news and special offers
      .featured__item-subscription
        form(action="post")
          <i class="far fa-envelope"></i>
          input(type="email", name="email" placeholder="type your email here")
          button(type="submit") join us