footer
  .container
    .footer
      .footer__item
        .logo-item
          <span>SH</span><img src="images/header/cart-logo.png", alt="cart-logo"><img src="../../images/header/ellipse.png", alt="ellipse-logo"><span class="last-child-span">PY</span>
        .logo-item
          p shope any where
        .logo-item
          p#copyright shopy &copy; 2019. your copy right here
      .footer__item.footer__list
        ul.footer__item-list
          a(href="#").item__list-link
            li about us
          a(href="#").item__list-link
            li contact us
          a(href="#").item__list-link
            li support
        ul.footer__item-list
          a(href="#").item__list-link
            li our feed
          a(href="#").item__list-link
            li terms and conditions
          a(href="#").item__list-link
            li our privacy
        ul.footer__item-list
          a(href="#").item__list-link
            li join us
          a(href="#").item__list-link
            li live support
      .footer__item
        .item__header-title
          h4 Payment Methods
        .item__header-img
          img(src="images/footer/payment-image.png", alt="payment-methods-image")