header
  .container
    .row
      .header__item
        .header__item-mail
          i.far.fa-envelope
          a(href="mailto:info@shopy.com") info@shopy.com
        .header__item-phone
          i.fas.fa-phone
          a(href="tel:555-555-1212") 555-555-1212
      .header__item
        ul.header__item-links
          a(href="#").link-item
            li
              i.fab.fa-facebook-f
          a(href="#").link-item
            li
              i.fab.fa-twitter
          a(href="#").link-item
            li
              i.fab.fa-google-plus-g
          a(href="#").link-item
            li
              i.fab.fa-instagram
    .row
      .header__item
        .logo
          .logo-item
            <span>SH</span><img src="images/header/cart-logo.png", alt="cart-logo"><img src="../../images/header/ellipse.png", alt="ellipse-logo"><span class="last-child-span">PY</span>
          .logo-item
            p shope any where
        nav
          ul.nav__links
            a(href="#").link-item.active
              li Home
            a(href="#").link-item
              li Products
            a(href="#").link-item
              li Hot Deals
            a(href="#").link-item
              li About
            a(href="#").link-item
              li Contact
      .header__item
        ul.personal__links
          a(href="#").link-item
            li
              i.fas.fa-search
          a(href="#").link-item
            li
              i.far.fa-user
          a(href="#").link-item
            li
              i.fas.fa-shopping-basket