main
  .container
    .slider
      .slider__scroll
      .slider__info
        .info-title
          h3 full winter kit
        .info-text
          h4 Half Jacket + Skiny Trousers + Boot leather
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .info-price
          .price-item
            p Price: <span>120$</span>
          .price-item
            i.fas.fa-shopping-basket
            a(href="#") Order Now