section
  .container
    .products
      .products__item
        .products__item-header
          h2.item__header-title <span>new</span> arrivals
          p.item__header-text Lorem Ipsum is simply dummy text of the printing and typesetting industry
      .products__item
        .row
          .products__item-gallery
            .item__gallery-img
              img(src="images/products/product-img-1.png", alt="product-image-1")
              .gallery__img-description
                h4.img__description-title Reebok Track Jacket
                p.img__description-price 100$
              .hover__gallery-img-item
                img(src="images/products/product-img-1.png", alt="product-image-1")
                .gallery__img-description
                  h4.img__description-title Reebok Track Jacket
                  p.img__description-sizes sizes : s-m-l-xl
                  .img__description-colors
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                .gallery__img-options
                  .img__options-item
                    a(href="#") <i class="fas fa-globe"></i>
                  .img__options-item
                    a(href="#") <i class="fas fa-shopping-basket"></i>
                  .img__options-item
                    a(href="#") <i class="far fa-heart"></i>
            .item__gallery-img
              img(src="images/products/product-img-2.png", alt="product-image-2")
              .gallery__img-description
                h4.img__description-title Reebok Track Jacket
                p.img__description-price 100$
              .hover__gallery-img-item
                img(src="images/products/product-img-2.png", alt="product-image-2")
                .gallery__img-description
                  h4.img__description-title Reebok Track Jacket
                  p.img__description-sizes sizes : s-m-l-xl
                  .img__description-colors
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                .gallery__img-options
                  .img__options-item
                    a(href="#") <i class="fas fa-globe"></i>
                  .img__options-item
                    a(href="#") <i class="fas fa-shopping-basket"></i>
                  .img__options-item
                    a(href="#") <i class="far fa-heart"></i>
            .item__gallery-img
              img(src="images/products/product-img-3.png", alt="product-image-3")
              .gallery__img-description
                h4.img__description-title Reebok Track Pants
                p.img__description-price 100$
              .hover__gallery-img-item
                img(src="images/products/product-img-3.png", alt="product-image-3")
                .gallery__img-description
                  h4.img__description-title Reebok Track Pants
                  p.img__description-sizes sizes : s-m-l-xl
                  .img__description-colors
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                .gallery__img-options
                  .img__options-item
                    a(href="#") <i class="fas fa-globe"></i>
                  .img__options-item
                    a(href="#") <i class="fas fa-shopping-basket"></i>
                  .img__options-item
                    a(href="#") <i class="far fa-heart"></i>
            .item__gallery-img
              img(src="images/products/product-img-4.png", alt="product-image-4")
              .gallery__img-description
                h4.img__description-title Reebok Track Jacket
                p.img__description-price 100$
              .hover__gallery-img-item
                img(src="images/products/product-img-4.png", alt="product-image-4")
                .gallery__img-description
                  h4.img__description-title Reebok Track Jacket
                  p.img__description-sizes sizes : s-m-l-xl
                  .img__description-colors
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                    a(href="#").description__colors-item
                .gallery__img-options
                  .img__options-item
                    a(href="#") <i class="fas fa-globe"></i>
                  .img__options-item
                    a(href="#") <i class="fas fa-shopping-basket"></i>
                  .img__options-item
                    a(href="#") <i class="far fa-heart"></i>
        .row
          .loadMore__container
            a(href="#").loadMore__btn
              .loadMore__btn-dot
              .loadMore__btn-dot
              .loadMore__btn-dot
      .products__item
        .products__item-discount
          .item__discount-banner
            .discount__banner-text
              h4 Sale
              span 50%      
            .square-1
            .square-2
          .item__discount-description
            h4.discount__description-title full winter kit
            p.discount__description-text Half Jacket + Skiny Trousers + Boot leather
          .item__discount-btn
            button
              i.fas.fa-shopping-basket
              span 120<span id="dollar-sign">$</span>
        .products__item-advertising
          h4.discount__description-title adv <span>area</span>
          p.discount__description-text 470 x 100